/*=================================================
RESPONSIVE
=================================================*/

/*==========================
1400px
==========================*/

@media(max-width:1400px){

.container{

width:min(1140px,92%);

}

.hero-grid{

gap:50px;

}

}

/*==========================
1200px
==========================*/

@media(max-width:1200px){

.hero-grid,

.about-grid,

.pmb-grid,

.contact-grid{

grid-template-columns:1fr;

}

.hero-slider{

margin-top:50px;

}

.hero-stats,

.stats-grid{

grid-template-columns:repeat(2,1fr);

}

.footer-grid{

grid-template-columns:repeat(2,1fr);

}

}

/*==========================
992px
==========================*/

@media(max-width:992px){

.nav-menu{

position:fixed;

top:90px;

left:0;

width:100%;

padding:30px;

background:#07111F;

display:flex;

flex-direction:column;

gap:25px;

transform:translateY(-120%);

transition:.35s;

}

.nav-menu.show{

transform:translateY(0);

}

.menu-toggle{

display:flex;

}

.hero-title{

font-size:3rem;

}

.section{

padding:90px 0;

}

.program-grid,

.news-grid,

.leader-grid{

grid-template-columns:1fr;

}

.gallery-grid{

grid-template-columns:repeat(2,1fr);

}

.gallery-item.large,

.gallery-item.medium,

.gallery-item.tall{

grid-column:span 1;

height:260px;

}

}

/*==========================
768px
==========================*/

@media(max-width:768px){

.hero-buttons{

flex-direction:column;

}

.hero-stats,

.stats-grid{

grid-template-columns:1fr;

}

.about-features{

grid-template-columns:1fr;

}

.vision-grid{

grid-template-columns:1fr;

}

.footer-grid{

grid-template-columns:1fr;

}

.footer-bottom{

flex-direction:column;

text-align:center;

}

.hero-slide img{

height:360px;

}

.hero-card-content{

padding:25px;

}

.hero-card-content h3{

font-size:1.3rem;

}

.hero-prev,

.hero-next{

width:45px;

height:45px;

}

.gallery-lightbox img{

width:95%;

}

.gallery-prev,

.gallery-next{

display:none;

}

}

/*==========================
576px
==========================*/

@media(max-width:576px){

.container{

width:92%;

}

.section-title{

font-size:2rem;

}

.hero-title{

font-size:2.4rem;

}

.hero-description{

font-size:1rem;

}

.btn{

width:100%;

justify-content:center;

}

.pmb-form,

.contact-form{

padding:25px;

}

.whatsapp{

right:20px;

bottom:20px;

}

.back-top{

right:20px;

bottom:95px;

}

}